/* general */

html{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

button{
    width: 458px;
    height: 76px;

    background: #FFD23F;
    border-radius: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #642A80;
    border: none;
    box-shadow: 0px 0px 20px #FFD23F;

    outline:none !important;
    outline-width: 0 !important;
}

button:hover{
    background-color:rgb(253, 202, 34);

    outline:none !important;
    outline-width: 0 !important;
}

button:active{
    background-color:#FFD23F;
    
    outline:none !important;
    outline-width: 0 !important;
}

/* splash */

#description{
    width: 1160px;
    height: 100%;
    background: white;
}

#description h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 117px;
    margin-left: 148px;
    margin-top: 232px;
    margin-bottom: 0;

    color: #642A80;
}

#description h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    margin-top: -14px;
    margin-left: 148px;
    margin-bottom: 0;

    color: #642A80;
}

#description p{
    width: 457px;
    height: 216px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    margin-left: 148px;
    margin-top: 77px;
    margin-bottom: 0;

    color: #642A80;
}

#description button{
    margin-left: 148px;
    margin-top: 77px;
}

.nav{
    width: 760px;
    height: 100%;
    background: #642A80;
}

.nav nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 55px;

}

.nav nav ul{
    padding-right: 50px;
    display: flex;
    color: #FFD23F;
    list-style:none 
}

.nav nav ul li{
    padding-left: 60px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.nav a:visited{
    color: #FFD23F;
}

.nav img{
    margin-left: -400px;
}